@using aspnetcore_template.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model aspnetcore_template.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";

}
   
<div id="wrapper">
    <div id="main">

        @foreach (var restaurant in Model.Restaurants)
        {
            @await Html.PartialAsync("_Summary", restaurant)
        }
            <div>
                <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
                    Create
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
        </div>
    <footer id="footer">
        <div>&copy; 2019 csharpsnippets</div>
    </footer>
</div>

