<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @*bundle*@
    <link rel="stylesheet" href="~/css/bundle.datatables.min.css" />
    @*bundle*@
    <link rel="stylesheet" href="~/css/bundle.bootstrap.min.css" />
    @*bundle*@
    <link rel="stylesheet" href="~/css/bundle.site.min.css" />

    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/superfish.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />



    <script type="text/javascript" src="~/js/jquery-1.12.4.js"></script>
    @*bundle*@
    <script type="text/javascript" src="~/js/bundle.jqueryui.min.js"></script>
    @*bundle*@
    <script type="text/javascript" src="~/js/bundle.datatables.min.js"></script>
    @*bundle*@
    <script type="text/javascript" src="~/js/bundle.bootstrap.min.js"></script>

    <script type="text/javascript" src="~/js/js.global.js"></script>
    <script type="text/javascript" src="~/js/hoverIntent.js"></script>
    <script type="text/javascript" src="~/js/jquery.dialogform.js"></script>
    <script type="text/javascript" src="~/js/respond.js"></script>
    <script>
        //This Script Variable needs to run before any other scripts
        var app = { baseUrl: '@Url.Content("~/")' };
    </script>
</head>
<body>

    <div class="container">
        <div id="homeheader" class="span-32 last">
            @{
                try
                {
                    //{ Html.RenderPartial("_userControl"); }
                    @await Html.PartialAsync("_userControl")
                }
                catch
                {
                }
            }

            <div id="menu" class="span-32 last">
                @*@{ Html.RenderPartial("_siteMenu"); }*@
                @await Html.PartialAsync("_siteMenu")
            </div>
        </div>
        <div class="span-32 last">
            <div id="breadcrumb">
                @*@Html.MvcSiteMap().SiteMapPath()*@
            </div>
        </div>
        @*<div id="notifications-container" class="span-24 prepend-4 last">
            @{ Html.RenderPartial("_notifications"); }
        </div>*@

        <div class="span-16">
            <div id="page-header-left">
                <div class="subtitle"></div>
            </div>
        </div>
        <div class="span-8 last">
            <div id="page-header-right">
            </div>
        </div>

        <div id="body" class="lh-body">
            <div class="span-32 last">

            </div>
            <div class="span-32 last">
                <div class="alertbanner">
                    <!--Home-->
                    @{
                        try
                        {
                            <strong>Database: </strong>
                        }
                        catch
                        {
                            <strong>Database: - Site: </strong>
                        }
                    }
                </div>
            </div>
            <section class="content-wrapper main-content">
                @RenderBody()
            </section>

        </div>
        <div class="span-32 last">
            @*@{ Html.RenderPartial("_siteFooter"); }*@
            @await Html.PartialAsync("_siteFooter")
        </div>

    </div>
</body>
</html>
