<img class="headshot" src="/images/FeelTheBern.jpg" alt="headshot" />
<span id="username">Paul Forsthoff</span>
<ul class="menu">
    <li class="active"><a href="/">Home</a></li>
    <li><a asp-controller="Home" asp-action="Create">Create</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>