<ul id="sf-menu" class="sf-menu">
    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @style = "font-size: 10px;" })</li>
    <li>
        @*********ACTION MENU ITEMS*********@
        @Html.ActionLink("Grid", "Grid", "Home", new { area = "MPS" }, new { @style = "font-size: 10px;" })

    </li>
 
    @*}*@
</ul>

